<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
        <link rel="stylesheet" href="/css/w3.css">
        <link rel="stylesheet" href="/css/music_player.css">
        <title>Jay -> Creations -> Music</title>
    </head>
    <body>
        
        <nav class="navigation">
            <div class="nav-container">
                <input class="checkbox" type="checkbox" name="" id="hamburger-menu" />
                <div class="hamburger-lines">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                </div>
            </div>
            <div class="center-container">
                <span class="header-title">JayMythos -> Music</span>
            </div>
            <%- include('_nav') -%>
        </nav>
        <div class="master-container">