<%- include('partials/_header') -%>

    <div class="container">
        <div class="sub-container">

        <h1>Enter New Blog Post</h1><br />
        <form action="/blog_write" method="post" enctype="multipart/form-data" id="form">
            <!-- Text area matching the selector specified in the TinyMCE configuration -->
            <label for="theme">Blog Theme</label><br /><select name="THEME" id="theme">
                <% for(let row of themes) { %>
                    <option value="<%= row.THEME %>"><%= row.THEME.charAt(0).toUpperCase() + row.THEME.slice(1).toLowerCase() %></option>
                <% } %>
            </select>
            <br /><br />
            <label for="subject">Subject</label><br /><input id="subject" name="SUBJECT" /><br /><br />
            <label for="author">Author</label><br /><input id="author" name="AUTHOR" /><br /><br />
            <label for="files"></label><input id="files" type="file" name="FILES" accept="image/*" multiple><br /><br />
            <textarea id="my-expressjs-tinymce-app"></textarea>
            <input type="hidden" id="blog-content", name="CONTENT" />
            <hr />
            <input id="submit-button" type="submit" value="Submit" />
            <a href="#"> Cancel </a>
        </form>

        <!-- Script element sourcing TinyMCE -->
        <script type="application/javascript" src= "/tinymce/tinymce.min.js"></script>
        <!-- Script element sourcing the TinyMCE configuration -->
        <script type="application/javascript" src= "/js/my-tinymce-config.js"></script>
        <script type="application/javascript" src ="/js/blog.js"></script>

        </div>
    </div>
<%- include('partials/_footer') -%>