<%- include('partials/_header') -%>

<div class="container">
  <div class="sub-container">
      <br />
      <h2> World Creator </h2>
      <hr />
      <div class="inner-sub-container">
          <div class="inner-sub-container-heading"><h3> >> Welcome</h3></div>
          <div class="inner-sub-container-content">
              <p> Welcome to my domain, a place for creations and <br />
                  creative thought. My head is buzzing <br />
                  full of ideas, and 90% of them I'll never   <br />
                  get to or even entertain, and when they do pop up,   <br />
                  it's horrible timing (a shout out to all the    <br />
                  people I unleashed my philosophical thoughts    <br />
                  in mid conversation).<br /> 
              </p>
              <br />
              <p>
                This place is so I can better organize those pesky <br />
                thoughts when arise, so I connect them and share <br />
                what otherwise become esoteric assumptions that make <br />
                me look like a lunatic when attempting to share something <br />
                that is otherwise interesting when all the nuts and bolts <br />
                are together. <br />
              </p>
              <br />
              <p>
                Topics will include computer projects I work on, <br />
                or subjects in computer science, technology, philosophy, <br />
                science, politics, or anything I feel like writing. I can <br />
                be a bit of a wildcard sometimes, so bare with me, there <br /> 
                is order in chaos! <br />
              </p>
              <hr />
              -Jay | 01/12/2023
          </div>
      </div>
</div>

<%- include('partials/_footer') -%>