<%- include('partials/_header') -%>

<div class="container">
  <div class="sub-container">
      <br />
      <h2> World Creator </h2>
      <hr />
      <div class="inner-sub-container">
          <div class="inner-sub-container-heading"><h3> >> Welcome</h3></div>
          <div class="inner-sub-container-content">
            <p> Welcome to my domain, a place for creations and <br />
              creative thought. My head is buzzing full<br />
              of ideas, and 90% of them I'll never   <br />
              get to entertain. And, when they do pop up,   <br />
              it's horrible timing (thank you to all of the    <br />
              people out there that I unleashed my philosophical 
              thoughts in mid-conversation).<br /> 
          </p>
          <br />
          <p>
            This space is to organize those wonderful pesky <br />
            thoughts for when they arise. Where I can connect them <br />
            and share what otherwise settle into esoteric <br />
            assumptions that make me look like a lunatic when <br />
            -- in my futile fashion -- attempt to share with <br />
            others a topic of interest. <br />
          </p>
          <br />
          <p>
            Topics will include computer projects I work on, <br />
            or subjects in computer science, technology, philosophy, <br />
            science, politics, or anything I feel like writing. I can <br />
            be a bit of a wildcard sometimes, so bare with me, there <br /> 
            is order in the chaos! <br />
          </p>
          <hr />
          -Jay | 01/12/2023
          </div>
      </div>
</div>

<%- include('partials/_footer') -%>