<%- include('partials/_music_header') -%>

<div class="container">
    <div class="sub-container">
        <a class="backButton" href="javascript:lastSong();"><div class="leftChevron"></div></a>
    <canvas width="460" height="320"></canvas>
        <a class="nextButton" href="javascript:nextSong();"><div class="rightChevron"></div></a>
</div>

<script src="/js/music-player.js"></script>
<%- include('partials/_footer') -%>