<%- include('partials/_music_header') -%>

<div class="container">
    <div class="sub-container">
    <div id="song-info" class="song-info"></div>
        <div id="back-button" class="backButton"><div class="leftChevron"></div></div>
    <canvas width="460" height="320"></canvas>
        <div id="play-button" class="playButton" href="javascript:toggleAudio();"><div id="play-symbol" class="play-triangle"></div></div>
        <div id="next-button" class="nextButton"><div class="rightChevron"></div></div>
        <input type="range" value="0" min="0" max="100" step="1" id="music-progress" class="input-range--custom">
</div>

<script src="/js/music-player.js"></script>
<%- include('partials/_footer') -%>