<%- include('partials/_header') -%>

<div class="container">
    <div class="sub-container">
        <br />
        <h2>Types of Solutions</h2>
        <hr />
        <div class="inner-sub-container">
            <div class="inner-sub-container-heading"><h3>>> Custom Software</h3></div>
            <div class="inner-sub-container-content">
                <br />
                
                    I will draw up a plan and consult in-person or remote to taylor for specific needs.
                    <br /><br />
                    Receive support for 1 month (with no additional charge) 
                        <br />after completion, or longer with monthly arrangement.
                    <br /><br />
                    Support will be in-person or remote based on request.
                
                <br /><hr />

            </div>
        
      </div>
      
    </div>
</div>

<%- include('partials/_footer') -%>