
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

.login-banner {
  font-family: "Audiowide", sans-serif;
  font-size: 48px;
  color: #FFFFFF;
}

.center-login-container {
  text-align: center;
  margin: auto;
  padding: 10px;
  width: 50%;
}

hr {
    border: 1px solid #555555;
}

.img-border {
  border: 1px solid #555555;
}

.text-display {
  display: flex;
  align-items: center;
  justify-content: center;
}

.white-hr {
  margin-left: 15px;
  margin-right: 15px;
  border: 1px solid #FFFFFF;
}

body {
    font-family: "Audiowide", sans-serif;
    background-image: url('/images/radar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    color: #FFFFFF;
    height: 100%;
    width: 100%;
}

input {
  width: 100%;
}

.last-link {
  float: left;
  margin-left: 9px;
  font-size: 24px;
  text-decoration: none;
}

.next-link {
  float: right;
  margin-right: 9px;
  font-size: 24px;
  text-decoration: none;
}

nav.navigation
{
    position: fixed;
    background-color: #000000;
    width: 100%;
    min-width: 450px;
    vertical-align: middle;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 64px;
    border-bottom: 1px solid #555555;
    top: 0;
    z-index: 2;
}

.header-title {
    font-family: "Audiowide", sans-serif;
    min-width: 360px;
}

.container {
    padding-top: 32px;
    width: 100%;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding-bottom: 128px;
}

.sub-container {
    font-size: 16px;
    margin-top: 92px;
    margin-left: 256px;
    margin-right: 256px;
    background-color: #00000073;
    border: 1px solid #555555;
    border-radius: 5px;
    padding: 32px;
    min-width: 600px;
    max-width: 800px;
    height: 100%;

}

  .inner-sub-container {
    margin-top: 32px;
    padding-bottom: 16px;
    font-family: 'Courier New', monospace;
    text-align: left;
    /*background-color: #000000;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;*/
  }

  .inner-sub-container-heading {
    background-color: #eeeeee;
    color: #000000;
    padding-left: 16px;
    padding-right: 16px;
  }

  .inner-sub-container-content {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }

/* Side Panel */
.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100%;
    top: 68px;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
    border-right: 1px solid #555555;
  }
  
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
  }
  
  .sidepanel a:hover {
    color: #c0bebe;
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  .openbtn {
    font-size: 32px;
    cursor: pointer;
    background-color: #111;
    color: white;
    border: none;
  }
  
  .openbtn:hover {
    background-color:#444;
  }
  
  .nav-container {
    position: absolute;
    left: 0;
    height: 62px;
  }
  
  .nav-container {
    display: block;
    height: 60px;
  }
  
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #ffffff;
  }
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .navbar .menu-items {
    padding-top: 120px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }
  
  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
    color: #0e2431;
  }
  
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
  }

  .video-container {
    margin: auto;
    text-align: center;
  }

  img {
    height: auto; 
    width: auto; 
    max-width: 580px; 
}

  @media only screen and (max-width: 1200px) {
    /* For mobile phones: */
    .sub-container {
        margin-left: 0;
        margin-right: 0;
        height: 100%;
        width: 100%;
        min-width: 0;
        border-bottom: none;
    }


  }
  
  @media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .sub-container {
      margin-left: 0;
      margin-right: 0;
      height: 100%;
      width: 100%;
      min-width: 0;
      border-bottom: none;
      }

      img {
        width: 100%;
        object-fit: contain;
      }
      
        video {
          width: 100px;
          height: 100px;
        }
    
      .center-login-container {
        width: 100%;
      }
  }

 /*General style */

 .accordion {
  background-color: #000000;
  color: #FFFFFF;
  cursor: pointer;
  padding-top: 8px;
  padding-right: 36px;
  padding-left: 32px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 24px;
  transition: 0.4s;
}

button {
  display: flex;
  align-items: center;
  justify-content: left;
}

.active, .accordion:hover {
  background-color: #000000;
}

.accordion:after {
  position: absolute;
  right: 15px;
  content:"\203A";
  transform: rotate(90deg);
  color: #FFFFFF;
  font-size: 36px;
  font-family: monospace;
}

.active:after {
  content: "\203A";
  transform: rotate(0deg);
  font-size: 36px;
  font-family: monospace;
}

.accordian-panel {
  padding: 0 18px;
  background-color: #000000;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: 18px;
}

.header-banner {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 62px;
  color: #DDDDDD;
  background-color: #000000;
  border-top: 1px solid #555555;
  text-align:center;
  padding:10px;
  top: 0;
  width: 100%;
  z-index: 0;
}

.yt {
  position: relative;
  display: block;
  width: 100%; /* width of iframe wrapper */
  max-width: 500px;
  margin: auto;
}
.yt iframe {
  position: absolute;
  top: 0; bottom: 0; left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.footer-banner {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 62px;
  color: #DDDDDD;
  background-color: #000000;
  border-top: 1px solid #555555;
  text-align:center;
  padding:10px;
  bottom: 0;
  width: 100%;
  z-index: 0;
  font-size: 14px;
}

.master-container {
  min-height:100%;
  position:relative;
}


table, th, td {
  margin: auto;
  border: 1px solid #555555;
  border-collapse: collapse;
  padding: 16px;
  border-left: 0px solid;
  border-right: 0px solid;
  color: #FFFFFF;
  width: 100%;
  
}

th {
  font-family: "Audiowide", sans-serif;
  background-color: #444;
}

td {
  font-family: 'Courier New', monospace;
  font-size: 16px;
}

tr:nth-child(odd) {background-color: #000000;}
tr:nth-child(even) {background-color: #212122;}

  /* images */
  .edit-icon {
    background-image: url('/images/edit.png');
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }